*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
/* h1 a{
    text-align: left;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    padding-left: 20px;
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    align-items: center;
    flex-wrap: wrap;
    
}
.img-logo{
    width: 90px;
    height: 70px;
    
}

.navbar{
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0 20px 0 0;
    margin: 0;

}
.navbar li a{
    color:rgb(172, 236, 62);
    text-decoration: none;
    font-family: "Roboto";
} */
/*termina header*/
/*comienza main*/
/* .main__index {
    background-color:rgb(0, 0, 0);
    color:white;
    font-family: "Roboto" ;
}

.carousel-inner {
    background-color: black;
}

.carousel-item img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.sintomas-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    flex-wrap: wrap;
}

.sintomas-infeccion {
    padding: 20px auto;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    
}

.sintomas-infeccion p {
    margin: 0;
    color: red;
}


.infectados-raros{
    text-align: center;
    padding-top: 40px;
    color: rgba(0, 128, 0, 0.616);
    
} */
/*IGNIFUGOS*/
/* .section-infectados{
    display: flex;
    width: 100%;
}
.section-infectados .div-infectados{
    width: 50%;
    height: 320px;
}
.section-infectados .div-infectados img{
    width: 100%;
    height: 220px;
    mask-image: linear-gradient(rgb(0, 0, 0) 0%, transparent);
}
.info-ignifugos{
    padding-top: 10px;
} */
 /**ANTIDISTURBIOS*/

/* .section-infectados2{
    display: flex;
    width: 100%;
 
}
.section-infectados2 .div-infectados2{
    width: 50%;
    height: 320px;
}
.section-infectados2 .div-infectados2 img{
    width: 100%;
    height: 220px;
    mask-image: linear-gradient(rgb(0, 0, 0) 0%, transparent);
}

.info-antidisturbios{
    padding-top: 10px;
} */

/*JIMMY GIBS JR*/

/* .section-infectados3{
    display: flex;
    width: 100%;
 
}
.section-infectados3 .div-infectados3{
    width: 50%;
    height: 320px;
}
.section-infectados3 .div-infectados3 img{
    width: 40%;
    height: 200px;
    mask-image: linear-gradient(rgb(0, 0, 0) 0%, transparent);
}

.info-jimmy{
    padding-top: 10px;
    text-align: left;
   } */

/*Payaso*/
/* .section-infectados4{
    display: flex;
    width: 100%;
 
}
.section-infectados2 .div-infectados4{
    width: 50%;
    height: 320px;
}
.section-infectados2 .div-infectados4 img{
    width: 100%;
    height: 220px;
    mask-image: linear-gradient(rgb(0, 0, 0) 0%, transparent);
}

.info-payaso{
    padding-top: 10px;
} */

/*Obrero de construcción*/
/* .section-infectados5{
    display: flex;
    width: 100%;
  
}
.section-infectados5 .div-infectados5{
    width: 50%;
    height: 420px;
}
.section-infectados5 .div-infectados5 img{
    width: 60%;
    height: 220px;
    mask-image: linear-gradient(rgb(0, 0, 0) 0%, transparent);
}
.info-obrero{
    padding-top: 50px;
   
} */
/*Superviviente caído*/
/* .section-infectados6{
    display: flex;
    width: 100%;
 
}
.section-infectados6 .div-infectados6{
    width: 50%;
    height: 320px;
}
.section-infectados6 .div-infectados6 img{
    width: 90%;
    height: 220px;
    mask-image: linear-gradient(rgb(0, 0, 0) 0%, transparent);
}

.info-caido{
    padding-top: 50px;
} */
/*EMBARRADO*/

/* .section-infectados7{
    display: flex;
    width: 100%;
}
.section-infectados7 .div-infectados7{
    width: 50%;
    height: 320px;
}
.section-infectados7 .div-infectados7 img{
    width: 100%;
    height: 220px;
    mask-image: linear-gradient(rgb(0, 0, 0) 0%, transparent);
}
.info-embarrado{
    padding-top: 10px;
} */

/*INFECTADOS ESPECIALES*/
/*CHARGER*/
/*
.char-info{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
   
    
    
}
.char-info .div-char{
    width: 100%;
    height: 320px;
   
}
.char-info .div-char img{
    width: 100%;
    height: 70%;
}
.Aspecto-char{
    font-family: "Roboto";
    text-align: center;
    }
 


    
 
 .section-charhabilidades{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex; 
}
.section-charhabilidades .div-habilidadeschar{
    width: 100%;
    height: 320px;
   
}
.section-charhabilidades .div-habilidadeschar img{
    width: 80%;
    height: 60%;
    
}
.char-titulo{
    text-align: center;
}
 
/*HUNTER*/
/*
.info-hunter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div-hunter {
    display: flex;
    flex-direction: column;
}

.div-hunter img {
    width: 30vw;
    height: 300px;
    object-fit: cover;
}

.section-hunter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.hunter-atack {
    display: flex;
    flex-direction: column;
}

.hunter-atack img {
    width: 30vw;
    height: 300px;
}
/*BOOMER*/
/*
.info-boomer{
    display: flex;
    width: 100%;
    height: 320px;
    background-color: black;
    padding-top: 30px;
}
.info-boomer .div-boomer{
    width: 100%;
    height: 200px;
    
}
.info.boomer .div-boomer img{
    width: 320px;
    height: 200px;
}
.boomer-aspecto{
    text-align: center;
    top: 10px;
    }


    .section-boomer{
        display: flex;
        width: 100%;
        height: 320px;
        background-color: black;
        padding-top: 30px;
    }
    .section-boomer .boomer-atac{
        width: 100%;
        height: 200px;
        
    }
    .section-boomer .boomer-atac img{
        width: 90%;
        height: 200px;
    }
    .div-habilidadesboomer{
      text-align: center;
        }
    
    /*TANK*/
 /*
.info-tank {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tank-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tank-atack {
    display: flex;
    flex-direction: column;
}

.p-green {
    color: green;

}

.p-red {
    color: red;
}





/*comienza footer*/
.footer-l4d{
    display: flex;
    justify-content: space-between;
    background-color:  #333;
    text-decoration: none;
    color: white;
    font-family: "Roboto";
}
.footer-l4d img{
    height: 100px;
    padding-bottom: 40px;
    
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  footer p {
    margin: 0;
  }
 
  .footer-logo {
    grid-column: 1 / 2;
  }
  .footer-logo img{
    width: 100%;
    
  }

  .footer-links {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
  }

  .footer-social {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
  }

  .footer-links a,
  .footer-social a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }

  .footer-links a:last-child,
  .footer-social a:last-child {
    margin-right: 0;
  }

    
    



/* @media (max-width: 768px) {

    /* TANK HTML*/

    /* .info-tank {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .tank-section {
        display: flex;
        flex-direction: column;
        text-align: center;
    } */ 

    /* HUNTER HTML*/

    /* .info-hunter {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .section-hunter {
        display: flex;
        flex-direction: column;
        text-align: center;
    } */


    .footer-links {
        display: none;
    }


    /* LISTO LOS RESPONSIVE*/

    

