.main_boomer{
    .info-boomer{
        display: flex;
        width: 100%;
        background-color: black;
        padding-top: 30px;
        font-family: "Poppins";
        .div-boomer{
           img{
            width: 200px;
            height: 100%;
          }  
        }
        .boomer-aspecto{
            text-align: center;
            font-family: "Poppins";
            }
            h2{
                color: white;
                
                }
                .p-turquesa{
                    color:darkturquoise;
            }
    }

        .section-boomer{
            display: flex;
            width: 100%;
            background-color: black;
            padding-top: 30px;
            .boomer-atac{
              img{
              width: 200px;
              height: 100%;
        }  
            }     
            .div-habilidadesboomer{
                text-align: center;
                  } 
                  font-family: "Poppins";
                  h2{
                    color: white;
                  }
                  .p-red{
                    color: red;
                  }
        
        }
        
}