.main_hunter{
 
    .info-hunter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
    .div-hunter {
        display: flex;
        flex-direction: column;
        img {
            width: 30vw;
            height: 300px;
            object-fit: cover;
        }  
    }
    .section-hunter {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .hunter-atack {
        display: flex;
        flex-direction: column;
        img {
            width: 30vw;
            height: 300px;
        }
    }  
    
}