.galeria-main {
    background-color: black !important;
    .row {
        h3 {
            text-align: center;
            font-family: "Bebas Neue", sans-serif;
            color: red;
        }
        .col-sm-4 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
}