@media(max-width:768px) {
    .section-infectados {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-infectados2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-infectados3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-infectados4 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-infectados5 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section-infectados6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    .section-infectados7 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
}




