@media(max-width:768px) {
    .section-infectados {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-infectados2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-infectados3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-infectados4 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-infectados5 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section-infectados6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    .section-infectados7 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.info-tank {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tank-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.char-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-charhabilidades {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.info-boomer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-boomer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info-hunter {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-hunter {
    display: flex;
    flex-direction: column;
    text-align: center;
}

}





