.navbar {
    background-color: black !important;
    .container-fluid {
        display: flex;
        justify-content: space-between !important;
        align-items: center !important;
        img {
            width: 150px;
            height: 100%;
        }
        .navbar-toggler {
            background-color: white !important;
        }
    }
    .collapse {
        ul {
            li {
                a {
                    color: white !important;
                    &:hover {
                        color: greenyellow !important;
                    }
                }
            }
        }
    }
}