.navbar {
    background-color: black !important;
    .container-fluid {
        display: flex;
        justify-content: space-between !important;
        align-items: center !important;
        img {
            width: 100px;
            height: 100%;
        }
        .navbar-toggler {
            background-color: white !important;
        }
    }
    .collapse {
        justify-content: center;
        align-items: center;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                font-size: 1.25rem;
                font-family: "Bebas Neue", sans-serif !important;
                text-transform: uppercase;
                a {
                    color: white !important;
                    &:hover {
                        color: greenyellow !important;
                    }
                }
            }
        }
    }
}